
.login-button {
    float: right;
    margin-bottom: 30px;
}
.red {
    color: red;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 3px solid black;
    margin: 5px auto;
    width: 30%;
}
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}
/*{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left; 
}*/
