.app-header {
    background-color: #263238;
    font-size: 18px;
    text-align: left;
    height: 56px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.searchBox{
    background-color: #c0c0c0;
    border-radius: 4px;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.profileLogo{
    border: black 2px solid;
    width: 50px;
    height: 50px;
    background-size: contain;
    border: transparent;
    cursor: pointer;
    background-image: url("../../assets/upGradLogo.png");
}

